@font-face {
    font-family: 'Source Han Serif';
    font-style: normal;
    font-weight: normal;
    src: url('https://hanamuguri.oss-cn-shenzhen.aliyuncs.com/fonts/SourceHanSerif.ttc') format('ttc');
}

@font-face {
    font-family: 'Source Han Serif Semibold';
    font-style: normal;
    font-weight: bold;
    src: url('https://hanamuguri.oss-cn-shenzhen.aliyuncs.com/fonts/SourceHanSerif.ttc') format('ttc');
}

/* 全局 */
body {
    margin: 0px;
    font-family: 'Source Han Serif';
    /* color: #535353; */
}

/* 链接 */

a:link {
    color: #535353;
}

a:visited {
    color: #535353;
}

a {
    text-decoration: none;
}

.nav {
    position: relative;
    width: 100%;
    top: 0px;
    border-bottom: 1px dashed #999999;
    min-height: 64px;
    padding-top: 15px;
    background-color: white;
}

/* 导航栏 */
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
}

/* 导航栏网站名 */

.product-name, .product-name a {
    font-family: 'Century Gothic', sans-serif;
    font-size: 2rem;
    color: #000000;
}

/* 分类 */

.category {
    width: 90%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    margin-bottom: 80px;
    padding: 0;
    position: relative;
}

/* 分类列表 */

.category li {
    margin-bottom: 8px;
    list-style-type: none;
}

/* 分类文章 */

.category .article {
    text-align: left;
    font-weight: 300;
}

/* 分类文章页头 */

.category .article .post-header {
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 24px;
}

/* 首页文章清单标题 */

.category .article .title a {
    font-size: 1.25em;
    text-decoration: none;
    color: inherit;
}

/* 分类文章标题停留 */

.category .article .title a:hover {
    text-decoration: none;
    color: inherit;
}

/* 屏幕最大宽度 */

@media (max-width: 48em) {
    .date {
        display: none;
    }
}

/* 屏幕最大宽度 */

@media screen and (max-device-width: 330px) {
    .product-name {
        display: none;
    }
}

/* 分类文章日期 */

.category .article .date {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 7px;
    margin-bottom: 0;
}

/* 时间 */

.contact-posts .article .date {
    text-transform: none;
}

/* 导航栏样式 */

.nav .pure-menu-list {
    font-family: 'Century Gothic';
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
}

.nav .pure-menu-item {
    float: left;
    padding-left: 2rem;
    letter-spacing: 2px;
}

/* 首页目录 */

#list-contents>h3 {
    line-height: normal;
}

#content {
    /* font-family: 'Source Han Serif Semibold'; */
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* 文章页头链接 */

#post-footer, #post-footer a {
    color: #eee;
    font-family: 'open sans', arial, sans-serif;
    letter-spacing: .1em;
    font-weight: 300;
}

/* 文章页头链接 */

#post-footer a {
    text-decoration: underline;
}

/* 代码高亮 */

.highlight code {
    display: block;
}

/* 数学公式 */

.math * {
    color: inherit !important;
}

/* 代码高亮 */

code.highlighter-rouge * {
    color: initial !important;
}

/* 引用 */

blockquote {
    padding: 1.33em;
    font-style: italic;
    border-left: 5px solid #7a7a7a;
}

/* 图片 */

img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

/* 视频 */

video {
    width: 80%;
    display: block;
    margin: auto;

}

/* 页脚 */

#footer {
    font-size: 0.95em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.poweredby {
    text-indent: unset;
}